<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIQvNmHCGCRfpcbTG-kxepdd7mdvjsEd8</string>
	<key>GCM_SENDER_ID</key>
	<string>895981865559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.act37</string>
	<key>PROJECT_ID</key>
	<string>fluttermovies-656fe</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermovies-656fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895981865559:ios:b0c0e4737602089b47f112</string>
</dict>
</plist>